<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr([%thread]){magenta} %clr(%-5level) %clr(%logger{360}:%L){blue} - %clr(%msg%n){yellow}%clr(%wEx){red}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/zhangsam/IdeaProjects/logs/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/zhangsam/IdeaProjects/logs/all.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{360}:%L - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.http.wire" level="INFO"/>
    <logger name="org.springframework.core.type.classreading.AnnotationAttributesReadingVisitor" level="INFO"/>

    <!--log4jdbc -->


    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>